# Tasks for Session-3 (Pandas_Series)

In [20]:
import numpy as np
import pandas as pd

## Task1: 
**Develop a program that allows entering student numbers and grades in a university, and then calculates the `count`, `sum`, `maximum`, `minimum`, and average of the entered grades.**<br>
**Store the student numbers and grades in a pandas Series called `students`**

In [21]:
students = pd.Series(name='students')

In [22]:
while True:
    student_no = input('ögrenci numarasi girin (cikmak icin q tusuna basin): ')
    if student_no.lower() == 'q':
        break
    
    student_grade = float(input('ögrenci notunu girin: '))
    students[student_no] = student_grade

ögrenci numarasi girin (cikmak icin q tusuna basin):  1022
ögrenci notunu girin:  90
ögrenci numarasi girin (cikmak icin q tusuna basin):  1876
ögrenci notunu girin:  54
ögrenci numarasi girin (cikmak icin q tusuna basin):  1834
ögrenci notunu girin:  64
ögrenci numarasi girin (cikmak icin q tusuna basin):  q

In [23]:
while True:
    student_no = input('ögrenci numarasi girin (cikmak icin q tusuna basin): ')
    if student_no.lower() == 'q':
        break
    
    student_grade = float(input('ögrenci notunu girin: '))
    students[student_no] = student_grade
    
print('ögrenci numara ve notlari asagidaki gibidir:')
print(students)

print('ögrenci bilgileri basariyla kaydedildi. notlara ait bilgiler asagidadir:')
print(f'ögrenci sayisi: {len(students)}')
print(f'en yüksek not: {students.max()}')
print(f'en düsük not: {students.min()}')
print(f'ortalama: {students.mean()}')
print(f'not toplami: {students.sum()}')

ögrenci numarasi girin (cikmak icin q tusuna basin):  1566
ögrenci notunu girin:  37
ögrenci numarasi girin (cikmak icin q tusuna basin):  1754
ögrenci notunu girin:  88
ögrenci numarasi girin (cikmak icin q tusuna basin):  4729
ögrenci notunu girin:  77
ögrenci numarasi girin (cikmak icin q tusuna basin):  q

ögrenci numara ve notlari asagidaki gibidir:
1022    90.0
1876    54.0
1834    64.0
1566    37.0
1754    88.0
4729    77.0
Name: students, dtype: float64
ögrenci bilgileri basariyla kaydedildi. notlara ait bilgiler asagidadir:
ögrenci sayisi: 6
en yüksek not: 90.0
en düsük not: <bound method NDFrame._add_numeric_operations.<locals>.min of 1022    90.0
1876    54.0
1834    64.0
1566    37.0
1754    88.0
4729    77.0
Name: students, dtype: float64>
ortalama: 68.33333333333333
not toplami: 410.0

## Task2:
**Write a program that uses conditional selection to create a new Series,**
where grades greater than 95 are classified as 'A+',<br>
grades between 90 and 95 (inclusive) are classified as 'A',<br>
grades between 85 and 90 (exclusive) are classified as 'B+',<br>
grades between 80 and 85 (exclusive) are classified as 'B',<br>
grades between 75 and 80 (inclusive) are classified as 'C+',<br>
grades between 70 and 75 (inclusive) are classified as 'C',<br>
grades between 60 and 70 (inclusive) are classified as 'D',<br>
and grades less than 60 are classified as 'E'.**

In [24]:
students2 = students.copy()
students2

1022    90.0
1876    54.0
1834    64.0
1566    37.0
1754    88.0
4729    77.0
Name: students, dtype: float64

In [25]:
students2[students2 > 50]

1022    90.0
1876    54.0
1834    64.0
1754    88.0
4729    77.0
Name: students, dtype: float64

In [26]:
students2[students2 < 50]

1566    37.0
Name: students, dtype: float64

In [27]:
students2[students2 > 80].index

Index(['1022', '1754'], dtype='object')

In [30]:
students2[students2 > 80].index[0]

'1022'

In [32]:
student_index_list = students2.index.tolist()
student_index_list

['1022', '1876', '1834', '1566', '1754', '4729']

In [44]:
# for i in stu_index_list:
    
for i in students2.index:

    students2[i] = 'A+' if students2[i] > 95 else 'A' if students2[i] >= 90 else 'B+' if students2[i] >= 85\
                        else 'B' if students2[i] >= 80 else 'C+' if students2[i] >= 75 else 'C' if students2[i] >= 70\
                        else 'D' if students2[i] >= 60 else 'E'
            
print(students2)

1022     A
1876     E
1834     D
1566     E
1754    B+
4729    C+
Name: students, dtype: object

In [51]:
for i in students2.index:

    students2[i] = 'A+' if students2[i] > 95:
                            else 'A' 
                    if students2[i] >= 90: 
                        else 'B+' 
                    if students2[i] >= 85:
                        else 'B' 
                    if students2[i] >= 80:
                        else 'C+' 
                    if students2[i] >= 75:
                        else 'C' 
                    if students2[i] >= 70:
                        else 'D' 
                    if students2[i] >= 60: 
                        else 'E'
            
print(students2)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [52]:
converted_list = ['A+' if grade > 95 else 'A' if grade >= 90 else 'B+' if grade >= 85 
                        else 'B' if grade >= 80 else 'C+' if grade >= 75 else 'C' if grade >= 70 
                        else 'D' if grade >= 60 else 'E' for grade in students]


# Use conditional selection to assign grade categories based on grade intervals
new_grades = pd.Series(converted_list, index = students.index)
new_grades

1022     A
1876     E
1834     D
1566     E
1754    B+
4729    C+
dtype: object

## Task3:

**Solve the same task using the `np.select()` function.**

In [56]:
conditions = [
    students > 95,
    (students <= 95) & (students >= 90),
    (students < 90) & (students >= 85),
    (students < 85) & (students >= 80),
    (students < 80) & (students >= 75),
    (students < 70) & (students >=75),
    (students < 70) & (students >= 60),
    students < 60
]

grade_cat = ['A+', 'A', 'B+', 'B', 'C+', 'C', 'D', 'E']

new_grades = pd.Series(np.select(conditions, grade_cat), index=students.index) 

print(new_grades)

1022     A
1876     E
1834     D
1566     E
1754    B+
4729    C+
dtype: object

## Task4:

**a: Create a function named `map_grades` that takes a list of grades as input and returns the corresponding grade categories (A+, A, B+, B, C+, C, D, and E) based on the specified intervals.**

**b. Solve the same task by using the map_grades() user-defined function within the `map()` function.**

**c. Solve the same task by using the map_grades() user-defined function within the `apply()` function**.

In [57]:
def map_grades(grade):
    if grade > 95:
        return 'A+'
    elif grade >= 90:
        return 'A'
    elif grade >= 85:
        return 'B+'
    elif grade >= 80:
        return 'B'
    elif grade >= 75:
        return 'C+'
    elif grade >= 70:
        return 'C'
    elif grade >= 60:
        return 'D'
    else:
        return 'E'

In [58]:
new_grades = students.map(map_grades).fillna('E')
new_grades

1022     A
1876     E
1834     D
1566     E
1754    B+
4729    C+
Name: students, dtype: object

In [59]:
new_grades = students.apply(map_grades)
new_grades

1022     A
1876     E
1834     D
1566     E
1754    B+
4729    C+
Name: students, dtype: object